.heading-col	{color:				rebeccapurple;}
	
.btn			{background-color: 	rebeccapurple;
				color:				white;
				}

.dice			{
				max-width: 			150px;
				border-radius: 		30px;
				border: 			10px solid rgba(255, 255, 255, .7);   		
				}

.card			{border:			none;
				background: 		none;
				}

body			{background-image: url("img/catground01.jpg");
				}

.diceRoll		{animation-name: roll;
    			animation-duration: 0.5s;
    			animation-iteration-count: 1;
    			animation-fill-mode: forwards;
    			animation-timing-function: ease-out;
				}

 @keyframes roll {
    
	    100% 	{transform: rotate(2turn);}
 				}

@media (max-width: 600px) {
							h1			{
										font-size: 30px !important;
										}

							#NumDice	{
										display: block !important;
										}

							.dice 		{
										max-width: 			100px;
										border-radius: 		20px;
										border: 			6px solid rgba(255, 255, 255, .7);
										}

							.card 		{
										max-width: 30%;
										display: inline-block;
										margin: 0 1.5% !important;
										}
							}